/*FOOTER*/
footer{
    min-height: 50px;
    background-color: rgb(73, 37, 37);
}
.footer-texto{
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    color: $primario;
}
.iconos-redes-sociales i{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 3px;
    color: $primario;
}
.fa-brands fa-instagram{
color: blueviolet;}
